@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

/* estilos da pagina html*/
.center{
    text-align: center;
}
.titulo{
    font-family: fantasy;
    color: white;
}

 

.justify{
    text-align: justify;
}
.container{
    display: flex;
    flex-flow:row  ;
    justify-content: center;
    align-items: center;
}
body{
    
    background-color: #FFBD2E;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23ee9a2b' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23dd7728' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23cc5326' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23bb3023' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23AA0D20' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
    
}
.foto{
    width:400px;
    border-radius: 50%;
}
.wh{
    width: 500px;
    height: 500px;
}


#menu li{
    display: inline;
    padding: 10px;

}
#menu li a {
    text-decoration:none;
    color: black;
    font-size: 20px;
}
#menu li a:hover{

    color:grey;
}
.p-30{
    padding: 30px;
}
.tm-social{
    width: 50px;
    height: 50px;
    
}
.mb-50{
    margin-bottom:50px;
}


/*estilos da pagina contato*/
.ml-50{
    margin-left: 50px;
}